.env
.env.*
.venv/
venv/
env/
*.ipynb
.ipynb_checkpoints/
*.py[cod]
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/
others/
demo/
demo_conversation/
.DS_Store
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

